/* Custom Scrollbar for Sidebar */
#sidebar::-webkit-scrollbar {
    width: 8px;
}

#sidebar::-webkit-scrollbar-track {
    background: transparent;
}

#sidebar::-webkit-scrollbar-thumb {
    background: #334155;
    border-radius: 4px;
}

#sidebar::-webkit-scrollbar-thumb:hover {
    background: #475569;
}

.katex-display {
    margin: 0 !important;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 0.25rem;
}

#canvas-container canvas {
    background: radial-gradient(circle at center, #111820 0%, #0A0F14 100%);
}
